* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    display: flex;
    /* элементы из строчного стали столбиком, в один ряд */
    flex-direction: column;
    /* отступы между кнопками */
    /* em - размер берется от размера шрифта (у нас 16px)  */
    gap: 2em;
    /* в контейнере wrap внутренние отступы */
    padding: 50px;
    /* макс ширина */
    max-width: 300px;
}

/* увеличивает саму нажимаемую кнопку */
.btn-link {
    /* размер текста */
    font-size: 1rem;
    /* убирает подчеркивание на ссылке */
    text-decoration: none;
    /* указываем цвет, цвет от родителя НЕ наследуется */
    color: red;
    /* задний фон кнопки */
    background-color: yellow;
    /* рамочка на кнопке */
    border: 2px solid green;
    /* прозрачный border */
    /* border: 2px solid transparent; */
    /* закругление по углам */
    border-radius: 1em;
    /* для того чтобы работать padding */
    display: block;
    /* верх/низ и слева-справа */
    padding: 0.75em 1em;
    /* текст по центру (ширина) */
    text-align: center;
    /* скорость замедления эфекта */
    transition: 0.5s;
}

/* добавление эфектов, псевдоклас hover */
.btn-link:hover {
    /* способ 1 */
    background-color: orange;
    color: green;
    /* border-color: red; */
    /* способ 2 */
    /* если изначально бордера не было но захотели */
    /* добавить, все на странице может дергаться */
    /* border: 2px solid green; */
    /* можно вместо бордера использовать тень на бокс */
    box-shadow: 0 0 7px green;
    /* свойство заменяет бордер, обводка и ничего не дергается */
    /* outline: 2px solid green; */
}

.btn-link__image {
    /* размер текста */
    font-size: 1rem;
    /* убирает подчеркивание на ссылке */
    text-decoration: none;
    /* цвет текста */
    color: red;
    display: block;
    /* width: 100%; */
    /* текст по центру (ширина) */
    text-align: center;
    /* скорость замедления эфекта */
    transition: 0.5s;
}

.btn-link__image:hover {
    /* способ 1 */
    background-color: orange;
    color: green;
    /* border-color: red; */
    /* способ 2 */
    /* если изначально бордера не было но захотели */
    /* добавить, все на странице может дергаться */
    /* border: 2px solid green; */
    /* можно вместо бордера использовать тень на бокс */
    box-shadow: 0 0 15px #57a9d8;
    /* свойство заменяет бордер, обводка и ничего не дергается */
    /* outline: 2px solid green; */
}

.btn-input {
    /* размер текста */
    font-size: 1rem;
    /* указываем цвет, цвет от родителя НЕ наследуется */
    color: red;
    /* задний фон кнопки */
    background-color: yellow;
    /* рамочка на кнопке */
    border: 2px solid green;
    /* прозрачный border */
    /* border: 2px solid transparent; */
    /* можно сбросить, убрать border */
    /* border: none; */
    /* закругление по углам */
    border-radius: 1em;
    /* для того чтобы работать padding */
    display: block;
    /* верх/низ и слева-справа */
    padding: 0.75em 1em;
    /* текст по центру (ширина) */
    text-align: center;
    /* скорость замедления эфекта */
    transition: 0.5s;
}

.btn-input:hover {
    /* способ 1 */
    background-color: orange;
    color: green;
    /* border-color: red; */
    /* способ 2 */
    /* если изначально бордера не было но захотели */
    /* добавить, все на странице может дергаться */
    /* border: 2px solid green; */
    /* можно вместо бордера использовать тень на бокс */
    box-shadow: 0 0 7px green;
    /* свойство заменяет бордер, обводка и ничего не дергается */
    /* outline: 2px solid green; */
}

.btn-button {
    /* размер текста */
    font-size: 1rem;
    /* указываем цвет, цвет от родителя НЕ наследуется */
    color: red;
    /* задний фон кнопки */
    background-color: yellow;
    /* рамочка на кнопке */
    border: 2px solid green;
    /* прозрачный border */
    /* border: 2px solid transparent; */
    /* можно сбросить, убрать border */
    /* border: none; */
    /* закругление по углам */
    border-radius: 1em;
    /* для того чтобы работать padding */
    display: block;
    /* верх/низ и слева-справа */
    padding: 0.75em 1em;
    /* текст по центру (ширина) */
    text-align: center;
    /* скорость замедления эфекта */
    transition: 0.5s;
}

.btn-button:hover {
    /* способ 1 */
    background-color: orange;
    color: green;
    /* border-color: red; */
    /* способ 2 */
    /* если изначально бордера не было но захотели */
    /* добавить, все на странице может дергаться */
    /* border: 2px solid green; */
    /* можно вместо бордера использовать тень на бокс */
    box-shadow: 0 0 7px green;
    /* свойство заменяет бордер, обводка и ничего не дергается */
    /* outline: 2px solid green; */
}